.border-left {
    border-left-width: 3px;
}

.menu-row {
    background-color: #141414;
}

.row-base-win-rate {
    background-color: #595014;
}

.row-base-win-rate .ant-table-column-sort {
    background-color: #7c6e14;
}

.ant-table-thead th {
    position: -webkit-sticky;
    position: sticky !important;
    white-space: nowrap;
    top: 0;
    z-index: 100;
}

.value-color-zero {
    color: #777;
}

.value-color-red{
    color:#ff4d4f;
}
.value-color-green{
    color: #52c41a;
}

.thumbnail-weapon{
    background-color: #333;
    width: 70px;
    height: 40px;
    border:1px solid #303030;
    border-radius: 6px;
    margin-right: 1em;
}

.thumbnail-character{
    background-color: #333;
    width: 30px;
    height: 40px;
    border:1px solid #303030;
    border-radius: 6px;
    margin-right: 1em;
}
.thumbnail-weaponType{
    background-color: #333;
    width: 40px;
    height: 40px;
    border:1px solid #303030;
    border-radius: 6px;
    margin-right: 1em;
}
